.singleMovie {
}
.singleMovie .banner {
  background-color: #cecece;
  min-height: 350px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.banner .poster {
  width: 350px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: #457b9d;
  /* background-color:    var(--secondary-color); */
  /* position: relative; */
  overflow: hidden;
  border: 1px solid red;
}
.banner .bannerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  margin: 1rem;
}
.banner .details {
  display: flex;
}

.banner .producers {
  display: flex;
  /* justify-content: spa; */
}
.banner .producers .directors {
  width: 300px;
}
.banner .producers .writers {
  width: 300px;
}

.banner .rating span.green {
  color: rgb(8, 95, 8);
}
.banner .rating span.orange {
  color: orange;
}
.banner .rating span.red {
  color: red;
}

.singleMovie .banner img {
  width: 100%;
}
