.singleMovie {
  margin-top: 1rem;
}

.singleMovie .upper {
  background-color: var(--primary-color);
  min-height: 350px;
  display: flex;
  justify-content: center;
}
.singleMovie .banner {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}
.banner .bannerPoster {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: #457b9d;
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  /* border: 1px solid red; */
}
.singleMovie .banner img {
  width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
  /* object-fit: contain; */
}
.banner .bannerInfo {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  margin: 1rem;
}
.banner .details {
  /* display: flex; */
  /* flex-direction: start; */
}

.banner .producers {
  display: flex;
  /* justify-content: spa; */
}
.banner .producers .directors {
  width: 300px;
}
.banner .producers .writers {
  width: 300px;
}

.banner .rating span.green {
  color: rgb(8, 95, 8);
}
.banner .rating span.orange {
  color: orange;
}
.banner .rating span.red {
  color: red;
}

/* Movie Body */
.extraDetails {
  display: flex;
  flex-direction: row;
}

.extraDetails .movieSidebar {
  min-width: 300px;
  width: 25%;
}
.extraDetails .moviePannel {
  min-width: 300px;
  width: 70%;
}

/* .movieCast {
  display: flex;
} */
ol.people {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  /* position: relative; */
  /* top: 0; */
  /* left: 0; */
}
/* .character img {
  width: 100%;
} */

ol.people.scroller {
  /* -webkit-overflow-scrolling: touch; */
  /* overflow-y: hidden; */
  /* overflow-x: scroll; */
  margin-left: -10px;
  margin-top: -10px;
  padding-bottom: 10px;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(227, 227, 227, 1);
  background-color: #fff;
  min-width: 140px;
  width: 140px;
  /* border: 1px solid blue; */
  margin: 10px 4px 10px 10px;
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
}

.peopleImg {
  overflow-clip-margin: content-box;
  overflow: clip;
  border: 0;
}
ol.people li > a {
  min-width: 138px;
  width: 100%;
  height: 175px;
  display: block;
  /* border: 1px solid red; */
}
a img,
img {
  outline: 0;
}
ol.people li img {
  width: 100%;
  height: 100%;
}

ol.people li p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px solid red; */
  padding: 0 10px;
}
ol.people li .character {
  color: #000;
  font-size: 0.9em;
  padding: 0 10px;
}
