#new-movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* min-height: 100vh; */
  background-color: white;
}
.newMovieBox {
  background: rgb(127, 29, 29);
  background: linear-gradient(
    90deg,
    rgba(127, 29, 29, 1) 0%,
    rgba(185, 28, 28, 1) 28%,
    rgba(220, 38, 32, 1) 100%
  );
  border-radius: 25px;
  min-width: 1280px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.movieAlbum {
  display: flex;
  overflow: hidden;
  /* border: 1px solid blue; */
  padding-bottom: 0;
}
.showMore {
  display: flex;
  justify-content: flex-end;
  align-items: centr;
  padding-right: 1rem;
  font-weight: 700;
  font-size: large;
}
.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: #457b9d;
  /* background-color:    var(--secondary-color); */
  position: relative;
  overflow: hidden;
}
.movie img {
  width: 100%;
}
.movie .overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: aliceblue;
  color: var(--primary-color);
  padding: 1rem;
  max-height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
}
.movie:hover .overview {
  transform: translateY(0);
}

.movieInfo {
  /* color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movieInfo h3 {
  margin-top: 0;
}
.movieInfo span {
  background-color: var(--primary-color);
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}
.movieInfo span.green {
  color: lightgreen;
}
.movieInfo span.orange {
  color: orange;
}
.movieInfo span.red {
  color: red;
}
