#new-movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* min-height: 100vh; */
  background-color: white;
}
.newMovieBox {
  background: rgb(127, 29, 29);
  background: linear-gradient(
    90deg,
    rgba(127, 29, 29, 1) 0%,
    rgba(185, 28, 28, 1) 28%,
    rgba(220, 38, 32, 1) 100%
  );
  border-radius: 25px;
  min-width: 1280px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.movieAlbum {
  display: flex;
  overflow: hidden;
  /* border: 1px solid blue; */
  padding-bottom: 0;
}
.showMore {
  display: flex;
  justify-content: flex-end;
  align-items: centr;
  padding-right: 1rem;
  font-weight: 700;
  font-size: large;
}
